html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body{
    background-color: #020004;
    color: white;
    text-align: center;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    // padding: 0 auto; 

    .post-wrapper{
        z-index: 300;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ty-logo{
    img{
        width: 35%;
        min-width: 315px;
        height: auto;
    }
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: helvetica;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 40px;
}

footer{
    .background-smoke{
        position: fixed;
        top: 0;
        padding-left: 10%;
        width: auto;
        z-index: -400;
    }
    a{
        color: white;
        text-decoration: none;
    }    
}


.footer-wrapper{
    position: relative;
    top: -125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    height: 32px;

    h2{
        text-align: left;
        font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: auto 0;
        font-size: 17px;
    }
    .fa-instagram{
        font-size: 30px;
        max-height: 32px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1240px) and (min-width: 600px){
    .footer-wrapper{
        top: -225px;
    }
    h1{
        font-size: 28px;
        letter-spacing: 5px;
        padding-top: 2%;
    }   
    footer{
        .background-smoke{
            padding-left: 0 ;
        }
    } 

}

@media only screen and (max-width: 600px) and (min-width: 300px){

    h1{
        font-size: 24px;
        padding-top: 3%;
        letter-spacing: 4px;
    }
    .ty-logo{
        margin-top: -150px;
        img{
            width: 50%;
        }
    }
    footer{
        .background-smoke{
            left: 0;
            // padding-left: -50%;
        }
    }
    .footer-wrapper{
        margin-top: -140px;
    }
}